#lightbox{
	z-index:1000;
	background-color: #EEEEEE;
	padding: 10px;
	border-bottom: 2px solid #666666;
	border-right: 2px solid #666666;
}

#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
}
	
#lightboxCaption{
	float: left;
}

#keyboardMsg{
	float: right;
}

#closeButton{
	top: 5px;
	right: 5px;
}

#lightbox img{

	border: none;
	clear: both;
}
 
#overlay img{
	border: none;
}

#overlay{
	background-image: url(../../assets/images/overlay.png);
}

* html #overlay{
	background-color: #333333;
	back\ground-color: transparent;
	background-image: url(../../assets/images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../assets/images/overlay.png", sizingMethod="scale");
}

	